#URL
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_WHATSAPP_NUMBER=94XXXXXXXXX

# Sentry
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_APP_ENV=staging
NEXT_PUBLIC_SENTRY_RELEASE=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
SENTRY_RELEASE=
